//-- Global Variables

// Vertical Step
$grid-vertical-step:           24px !default;

// Font Family
$font-family-body:            'Ubuntu', sans-serif;
$font-family-headings:        'Ubuntu', sans-serif;

// Colors
$white:                        #ffffff;
$black:                        #000000;

$gray-darker:                  #343b43;
$gray-dark:                    #404040;
$gray:                         #8c8c8c;
$gray-light:                   #e7e7e7;
$gray-lighter:                 #f5f5f5;


$primary:                      #ae29eb;
$accent:                       #2ed47a;
$info:                         #5695fe;
$success:                      #00e676;
$warning:                      #ff5f2c;
$danger:                       #ff5252;

// Gradient
$gradient-from:                #e833b0;
$gradient-to:                  #ac32e4;

// Borders
$border:                       1px solid #e7e7e7;
$border-light:                 1px solid rgba(255, 255, 255, .18);

// Shadows
$basic-box-shadow:             0 22px 36px -12px rgba(0, 0, 0, .2);

//-- Media Breakpoints
$desktop:   		   'screen and (max-width: 1200px)';
$tablet-land:      'screen and (max-width: 991px)';
$tablet-port:    	 'screen and (max-width: 768px)';
$mobile-land:		 	 'screen and (max-width: 576px)';
$mobile-port:		 	 'screen and (max-width: 360px)';
$menu-collapse: 	 $tablet-land;
