//-- Local Variables Section

// General
$button-padding-y: .88em !default;
$button-padding-x: 2.1em !default;



//-- Default Styles Section
.btn {
  display: inline-block;
  position: relative;
  padding: $button-padding-y $button-padding-x;
  transform: translateZ(0);
  transition: all .35s;
  border: 0;
  outline: none;
  background: {
    color: transparent;
    image: none;
  }
  color: $white;
  font: {
    size: 18px;
    weight: 400;
  }
  white-space: nowrap;
  box-shadow: none;
  vertical-align: middle;
  text: {
    decoration: none;
    align: center;
  }
  box-sizing: border-box;
  user-select: none;
  outline: none !important;

  &:hover,
  &.hover {cursor: pointer;}

  &.disabled {pointer-events: none;}

  @media #{$mobile-land} {font-size: 16px;}
}
