extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = false
  - var parentMenu = 'Components'
  - var menuTitle = 'Index'

//- Page Content
block content
  .container
    .row
      .col-10.mx-auto

        h1 Welcome to startup HTML template OptimizedHTML 6!

        p Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit. Ad distinctio animi, dolorum eaque praesentium unde aliquid, mollitia itaque voluptate quos modi et incidunt tempora fugiat voluptatum quia esse dolor repellat.
        p Nemo velit incidunt assumenda, eaque, sequi vitae facilis doloribus qui totam, fuga iure dignissimos ab non praesentium. Vitae similique, corrupti aliquam nam modi explicabo distinctio qui cum officia ullam quam!
        p Aperiam veritatis debitis quibusdam animi totam quos mollitia aspernatur porro consectetur id quod tempore numquam, ullam ex quae quasi voluptatem incidunt placeat asperiores quas autem! Labore modi quae nulla illo!

    .row
      .col-5.offset-1 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur delectus maiores, odio incidunt quis ex, recusandae eos eaque reiciendis consectetur in maxime adipisci. Rerum neque necessitatibus iusto recusandae magnam corporis.
      .col-5 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur delectus maiores, odio incidunt quis ex, recusandae eos eaque reiciendis consectetur in maxime adipisci. Rerum neque necessitatibus iusto recusandae magnam corporis.