//- Include config.pug file that holds all variables
block config
  include ../helpers/config

//- Mixins - reusable code snippets
include ../helpers/mixins

head
  meta(charset="utf-8")
  title
    block title
      | #{pageTitle}

  // SEO Meta Tags
  meta(name="description", content="")
  meta(name="keywords", content="")
  meta(name="author", content="")

  // Mobile Specific Meta Tag
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

  // Google Fonts
  link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=cyrillic" rel="stylesheet")

  // Favicon and Apple Icons
  //- link(rel="icon", type="image/x-icon")&attributes(isNestedFile ? {'href':'../favicon.ico'} : {'href':'favicon.ico'})
  //- link(rel="icon", type="image/png")&attributes(isNestedFile ? {'href':'../favicon.png'} : {'href':'favicon.png'})
  //- link(rel="apple-touch-icon")&attributes(isNestedFile ? {'href':'../touch-icon-iphone.png'} : {'href':'touch-icon-iphone.png'})
  //- link(rel="apple-touch-icon", sizes="152x152")&attributes(isNestedFile ? {'href':'../touch-icon-ipad.png'} : {'href':'touch-icon-ipad.png'})
  //- link(rel="apple-touch-icon", sizes="180x180")&attributes(isNestedFile ? {'href':'../touch-icon-iphone-retina.png'} : {'href':'touch-icon-iphone-retina.png'})
  //- link(rel="apple-touch-icon", sizes="167x167")&attributes(isNestedFile ? {'href':'../touch-icon-ipad-retina.png'} : {'href':'touch-icon-ipad-retina.png'})

  // Vendor Styles including: Bootstrap, Font Icons, Plugins, etc.
  link(rel="stylesheet", media="screen")&attributes(isNestedFile ? {'href': '../css/vendor.min.css'} : {'href': 'css/vendor.min.css'})

  // Main Template Styles
  link(id='mainStyles', rel="stylesheet", media="screen")&attributes(isNestedFile ? {'href': '../css/styles.min.css'} : {'href': 'css/styles.min.css'})
