doctype html
html(lang="en")

  //- head.pug template
  include head

  // Body
  body

    //- header.pug template
    if isHeader
      include header

    //- navbar.pug template
    if isHeader
      include navbar

    // Off-Canvas Wrapper
    .content-wrapper

      // Page Content
      block content

      //- footer.pug template
      if isFooter
        include footer

    // JavaScript (jQuery) libraries, plugins and custom scripts
    script()&attributes(isNestedFile ? {'src': '../js/vendor.min.js'} : {'src': 'js/vendor.min.js'})

    script()&attributes(isNestedFile ? {'src': '../js/scripts.min.js'} : {'src': 'js/scripts.min.js'})
