//- Page title
- var pageTitle = "Optimized-html Template 6"

//- Breadcrumbs
- var breadcrumbs = []

//- Conditionals
- var isHeader = true
- var isFooter = true

//- Active menu item
- var parentMenu
- var menuTitle